.title {
  padding: 1em;
  background-color: rgba(0, 196, 250, 0.842);
}

.cart {
  margin-left: 70em;
  font-size: small;
}

.productImage {
  height: 20em;
  width: 20em;
  margin-left: 2em;
}

.desc {
  margin-left: 7.2em;
  margin-top: 1em;
  font-size: .5cm;
}

.value {
  border: 1.5px;
  border-style: solid;
  border-color: rgb(211, 204, 204);
  text-align: center;
  padding: .2em;
  margin-left: 2em;

}

.text {
  margin-left: .5em;
}